@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

html, body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.container-fluid {
    padding: 0 !important;
}